<!-- footer -->
<footer class="footer pt-4 pb-3">
    <div class="container">
        <div class="border-top pt-5">
            <div class="row align-items-center">
                <div class="col-md-12 col-12 col-lg-12">
                    <ul class="list-inline text-center mb-0 small mt-3 mt-md-0">
                        <li class="d-flex">
                            Developer Contact &nbsp;
                            <a target="_blank" href="https://instagram.com/rikiputr44" class="text-primary fw-bold">here</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mx-1 my-4">
            <% if (logged.length > 1 ) { %>
                <form action="/signout" method="post">
                    <button type="submit" class="btn btn-danger badge">Logout</button>
                </form>
            <% } %>
        </div>
    </div>
</footer>
