<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Codescandy" name="author">
        <title><%= title %></title>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link href="./assets/libs/slick-carousel/slick/slick.css" rel="stylesheet">
        <link href="./assets/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet">
        <link href="./assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon/favicon.ico">
        <link href="./assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
        <link href="./assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
        <link href="./assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/theme.min.css">
    </head>
    <body>

        <%- include('nav.ejs')  %>

        <%- body %>

        <%- include('footer.ejs') %>

        <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="./assets/libs/simplebar/dist/simplebar.min.js"></script>
        <script src="./assets/js/theme.min.js"></script>
        <script src="./assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
        <script src="./assets/js/vendors/countdown.js"></script>
        <script src="./assets/libs/slick-carousel/slick/slick.min.js"></script>
        <script src="./assets/js/vendors/slick-slider.js"></script>
        <script src="./assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
        <script src="./assets/js/vendors/tns-slider.js"></script>
        <script src="./assets/js/vendors/zoom.js"></script>
        <script src="./assets/js/vendors/increment-value.js"></script>
    </body>
</html>
