<!-- Footer -->
<!-- footer -->
<footer class="footer pt-3 pb-0">
    <div class="container">
        <div class="py-4 pb-5">
            <div class="row align-items-center">
                <div class="col-md-12 col-12 col-lg-12">
                    <ul class="list-inline text-center mb-0 small mt-3 mt-md-0">
                        <li class="d-flex">
                            Developer Contact &nbsp;
                            <a target="_blank" href="https://instagram.com/rikiputr44" class="text-primary fw-bold">here</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Javascript-->
<!-- Libs JS -->
<script src="./assets/libs/jquery/dist/jquery.min.js"></script>
<script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="./assets/libs/simplebar/dist/simplebar.min.js"></script>
<!-- Theme JS -->
<script src="./assets/js/theme.min.js"></script>
